{
    "uid": "deploy-service",
    "append": true,
    "watch": true,
    "command": "node",
    "script": "deploy-service.js",
    "sourceDir": "{SOURCE_DIR}",
    "logFile": "{SOURCE_DIR}/forever/log/deploy-service.log",
    "outFile": "{SOURCE_DIR}/forever/log/deploy-service-out.log",
    "errFile": "{SOURCE_DIR}/forever/log/deploy-service-error.log"
}
